/.classpath
/.project
/eclipse
/.idea
/*.iml
/*.ipr
/*.iws
/.gradle
/dest
/libs
/.externalToolBuilders

/bin
/build
/target
/out

/dependency-reduced-pom.xml
*-private.sh
/nbproject/private/
/buildSrc/build/